<!-- Header -->	
<header>

  <!-- Responsive Menu -->
  <!-- onClick="myFunction2(this); toggle_visibility('menu-area');"  -->
  <div class="responsive-menu-icon"> 
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
  </div>
  <!-- Responsive Menu -->		


  <div class="complex-admin">Admin <img src="assets/images/admin-icon.png" alt="Complex Admin"></div>	


  <div class="logo"><a href="#"><img src="assets/images/vvvvv.png" width="110px" height="55px" style="margin-top: -5px;"></a></div>	


</header>	
<!-- Header -->	

<!-- Menu Area -->	
<div class="menu-area" id="menu-area">
	
  Menu Starts from here...
    
</div>
<!-- Menu Area -->		
<router-outlet></router-outlet>

  